<!-- patient_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Patients</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Hasta Listesi</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Doğum Tarihi</th>
                <th>Cinsiyet</th>
                <th>Telefon Numarası</th>
                <th>Adres</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.1 }}</td>
                <td>{{ patient.2 }}</td>
                <td>{{ patient.3 }}</td>
                <td>{{ patient.4 }}</td>
                <td>{{ patient.5 }}</td>
                <td>{{ patient.6 }}</td>
                <td>{{ patient.7 }}</td>
                <td>
                    <form action="{% url 'delete_patient' patient.0 %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Sil</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
