<!-- doctor_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Doctors</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Doctor List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Uzmanlık Alanı</th>
                <th>Çalıştığı Hastane</th>
                <th>İşlem</th>
            </tr>
        </thead>

        <tbody>
            {% for doctor in doctors %}
                <tr>
                    <td>{{ doctor.1 }}</td>
                    <td>{{ doctor.2 }}</td>
                    <td>{{ doctor.3 }}</td>
                    <td>{{ doctor.4 }}</td>
                    <td>{{ doctor.5 }}</td>
                    <td>
                        <form action="{% url 'delete_doctor' doctor.0 %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Sil</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>


    </table>
</body>
</html>
