<!-- doctor_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Patients</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Patient List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Doğum Tarihi</th>
                <th>Cinsiyet</th>
                <th>Telefon Numarası</th>
                <th>Adres</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            {% if patient.idHasta %}
                <tr>
                    <td>{{ patient.idHasta }}</td>
                    <td>{{ patient.hastaAdi }}</td>
                    <td>{{ patient.hastaSoyadi }}</td>
                    <td>{{ patient.dogumTarihi }}</td>
                    <td>{{ patient.cinsiyet }}</td>
                    <td>{{ patient.telefonNo }}</td>
                    <td>{{ patient.adres }}</td>
                    <td>
                        <form action="{% url 'delete_patient' patient.idHasta %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Sil</button>
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>
</body>
</html>
